QProgressBar {
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
}

QProgressBar::chunk {
    background-color: #05B8CC;
    width: 20px;
}

QLineEdit{
    border : 2px solid #5f5a4d;;
    border-radius: 5px;
    background-color: #ccc6ac;
    width: 20px

}

QLabel{
    color:#e1e1d5;
}
QRadioButton::indicator:checked{
    background-color: #867c61;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    
}
QRadioButton{
    color: #e1e1d5;
}
QComboBox {
    background-color: #897e65;
    color : #a9a895;
    border: 2px solid #736a59;
    border-radius: 5px;
}
QComboBox ::item{
    background-color: #969286;
}
QPushButton {
    background-color: #5f5a4d;
    color: #e3ded1;
}
QDateTimeEdit{
    background-color: #c1c1bb;
    color:#43423b;
    border: 1px #43423b
}
/*home*/
QMenuBar{
    background-color: #C9B2C4;
    color:#5F419B;
    border: 1px #aaa1b7;
}
QMenuBar::item{
    background-color: #C9B2C4;
    color :#2B322B ;
    padding: 5px 10px;
}

QMenuaBar::item:selected{
    background-color:#B3C89F;
}


